.b1{
    height: 150px;
    background-color: gray;
}
.b2{
    height: 200px;
    background-color: gray;
}
.b3{
    height: 70px;
    background-color: gray;
}
.b4{
    height: 200px;
    background-color: gray;
}
.b5{
    height: 70px;
    background-color: gray;
}
.b6{
    height: 100px;
    background-color: gray;
}
