.b1{
    background-color: gray;
    height: 300px;
}
.b2{
    background-color: gray;
    height: 200px;
}
.b3{
    background-color: gray;
    height: 100px;
}
.b4{
    background-color: gray;
    height: 50px;
}
.b5{
    background-color: gray;
    height: 300px;
}
.b6{
    background-color: gray;
    height: 200px;
}
.b7{
    background-color: gray;
    height: 100px;
}
.b8{
    background-color: gray;
    height: 50px;
}
.b9{
    background-color: gray;
    height: 150px;
}